

<p><%=pluralize(@events.size, 'Event') %>:</p>


<% @events.each do |event| %>

  <h2><%= link_to event.name, event_path(event.id)%></h2>
  <p><%=truncate(event.description, length: 35, separator: '') %></p>
  <strong>When: </strong><%=event.starts_at %><br>
  <strong>Where: </strong><%=event.location %><br>
  <strong>Price: </strong><%=format_price(event) %><br>
<% end %>


