
  <h1><%= @event.name%></h1>
  <%=image_for(@event) %>
  <p><%=@event.description%></p>
  <strong>When: </strong><%=@event.starts_at %><br>
  <strong>Where: </strong><%=@event.location %><br>
  <strong>Price: </strong><%=format_price(@event) %><br>
  <strong>Capacity: </strong> <%=pluralize(@event.capacity, "spots")%> <br>
  <strong>Spots Left: </strong> <%=pluralize(@event.spots_left, "spot")%> <br>
  <%= register_link(@event) %>
  <%=link_to "Who's Registered", event_registrations_path(@event) %> |
  <%=link_to "Edit", edit_event_path(@event) %> |
  <%=link_to "Delete", event_path(@event), method: :delete, data: {confirm: 'are you sure?'} %>