
  <h1><%= @event.name%></h1>
  <p><%=@event.description%></p>
  <strong>When: </strong><%=@event.starts_at %><br>
  <strong>Where: </strong><%=@event.location %><br>
  <strong>Price: </strong><%=format_price(@event) %><br>
  <strong><%=link_to "All Events", root_path %></strong> |
  <%=link_to "Edit", edit_event_path %>
  <p>End event</p>