<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Front Page Events v3</title>
</head>


<body>
<h1>Single Event Page</h1>


<%event = @single %>

    <p><strong>Event:</strong> <%=event.name %></p>
    <p><strong>Location:</strong> <%=event.location %></p>
    <p><strong>Price:</strong> <%= format_price(event) %></p>
    <p><strong>Description:</strong> <%= event.description %></p>
    <p><strong>Started on:</strong> <%= time_ago_in_words(event.starts_at) %> ago</p>

</body>
</html>